.testrepository
.venv
.coveragerc
.gitignore
.gitreview
.mailmap
.tempest_revision
.testr.conf
HACKING.rst
LICENSE
README.rst
REVIEWING.rst
doc/
etc/
mido-setup.py
openstack-common.conf
requirements.txt
run_clean_failed_tests.sh
run_mido.sh
run_tempest.sh
run_tests.sh
setup.cfg
setup.py
tempest/
test-requirements.txt
tools/
tox.ini
*.pyc
tempest.log
test_result*
